body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('../IMG/qfb.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: #641E16;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    padding: 20px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from link */
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button:hover {
    background-color: #45a049;
}